* {
  margin: 0;
  padding: 0;
}

button {
  box-sizing: border-box;
  border: 0;
}

a {
  text-decoration: none;
}

body {
    background: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    font-family: Montserrat, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;

  label {
    margin: 10px 0;
  }

  input::-webkit-file-upload-button {
    display: none;

  }

  input::-moz-placeholder{
    color: #6a727a;
  }

  input::-webkit-input-placeholder {
    color: #6a727a; 
  }

  input {
    background-color: transparent;
    color: #6a727a;
    margin: 10px 0;
    padding: 10px;
    padding-right: 30px;
    border: unset;
    border-bottom: 2px solid rgb(72, 165, 220);
  }

  button{
    padding: 10px;
    background-color: #96dcb9;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  a {
    color: #4575a1;
    font-weight: bold;
    text-decoration: none;
  }
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2{
        font-weight: 800;
        color: #c27f7f;
        margin: 20px 0;
    }

    p{
        font-weight: 500;
        color: #323d47;
        margin-bottom: 10px;
    }

    a{
        font-weight: 800;
        color: #4575a1;
    }

    img{
        border-radius: 20%;
    }
}
